@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.mainContainer {
    background-color: red;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 6fr;
}

#sidebar {
    background-color: orange;
    min-height: 100vh;
    color: white;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

#sidebarHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 2em;
    min-height: 75px;
}

.contentContainer {
    background-color: blue;
    min-height: 100vh;
    display: flex;
    flex-flow: column
}

.sidebarItem {
    display: flex;
    align-items: center;
    min-height: 66px;
    font-size: 1.5em;
    padding-left: 10%;
}

.sidebarItem :first-child {
    padding-right: 10%;
}

.hoverable:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
}

.collapseContainer {
    color: white;
    font-size: 2em;
    padding-left: 2%;
    padding-top: 1.5%;
    max-height: 200px;
}

.collapseContainer i:hover {
    cursor: pointer;
}

.footer {
    background-color: pink;
    align-self: flex-end;
    width: 100%;
    border-top: 1px solid gray;
}

.pageContent {
    background-color: khaki;
    flex-grow: 1;
}