.profileCard {
    background-color: white;
    border: 2px solid #EAEBEB;
    max-width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin: 5%;
    row-gap: .5em;
}

.profileCard img {
    width: 40%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightcoral;
}

#availability {
    background-color: lightblue;
    border-radius: 10px;
}

#availHeader {
    border-bottom: 1px solid black;
    font-size: 3.5em;
    font-weight: bold;
}

#availBody {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

p {
    display: table-row;
}

label {
    display: table-cell;
}

input {
    display: table-cell;
}

.availDayHeader {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.availDay {
    border-right: 1px solid black;
    padding: 10%;
}

.availDay:last-of-type {
    border-right: none;
}

.tableFilter {
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

.filterButtonsContainer {
    width: 70%;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.tableSearch {
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.filterButtonsContainer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.filterButtonsContainer li {
    float: left;
    color: #363636;
    padding: 10px;
    background-color: #FAFAFA;
    border: 1px solid #E8E8E8;
}

.filterButtonsContainer li:hover {
    background-color: #ddd;
    color: #3273DC;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-bottom: 1px solid black;
}

th {
    padding: 1%;
    text-align: left;
}

td {
    padding: 1%;
}

tr:nth-child(2n+2) {
    background-color: #FAFAFA;
}

.tableFooter {
    padding: 2%;
}

.ones {
    display: grid;
    grid-template-columns: auto;
    column-gap: 5%;
    padding: 5%;
    padding-bottom: 2%;
}

.ones:first-of-type {
    padding-top: 2%;
}

.contentCard {
    background-color: white;
    border: 1px solid #EFEFEF;
    border-radius: 5px;
    min-height: 200px;
}

.cardHeader {
    font-size: 2.5rem;
    font-weight: bold;
    padding: .5em;
}